.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: antiquewhite;
  background-image: url(https://cdn.wallpapersafari.com/61/71/Al8i1t.jpg);
}

.login > button {
  margin-top: -10px;
  width: 300px;
  background-color: #b818e4;

  color: #eff2f5;
  
  font-weight: 800;
  border: dashed;
}

.login__logo img{
  width: 30rem;
  height:  30rem;
  
}
.login__logo{
  border: 0.8rem solid yellow;
  border-radius: 0.4rem;
  background-color: white;
  /* background-image: url(https://w0.peakpx.com/wallpaper/190/187/HD-wallpaper-whatsapp-cartoon-skull-dark-dead-punk.jpg);  */
}

.login > button:hover {
  background-color: #11e450;
  color: #000000fe;
}

.login > div > img {
  object-fit: contain;
  height: 30re ;
}
.login > div {
  display: flex;
  flex-direction: column;
}


/* Media queries to adjust layout on different screen sizes */
@media (max-width: 768px) {
  .login {
    grid-template-rows: 1fr auto; /* Adjust grid for smaller screens */
  }
}
